* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #4861bc;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  z-index: 999;
}

.search-form {
  padding: 20px 0;
}

.main {
  max-width: 1600px;
  margin: 0 auto;
  padding: 100px 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.photo-card {
  transition: box-shadow 200ms ease-in, transform, 200ms ease-in;

  &:hover {
    transform: translateY(-1%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  img {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid lightgray;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px 0;
  }

  .info-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 12px;
    text-align: center;
  }
}

.is-hidden {
  display: none;
}
